<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Log in</title>
  <link rel="stylesheet" href="../public/css/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Vendedores</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
			<div class="login">
				<form action="../public/php/login.php" method ="post">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="user" placeholder="User" required="">
					<input type="password" name="pass" placeholder="Password" required="">
					<input class="button" type="submit" name="button" value="Login">
				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->

</body>
</html>
